.page_header {
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
  padding-right: 220px;

  h1 {
    margin-right: auto;
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
  }

  .tab {
    padding-left: 20px;
    padding-right: 20px;
    height: 32px;
    box-sizing: border-box;
    margin-bottom: 0;
    align-self: flex-end;

    &.current {
      position: relative;
      bottom: -3px;
      padding-bottom: 2px;
      border-bottom: 3px solid #1973BA;
    }
  }
}