.bar {
  color: white;
  background-color: #1973BA;
  border-radius: 4px;
  height: 34px;
  line-height: 34px;
  float: left;
  margin: 2px;
  padding-left: 10px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}